
  <h1>News Source</h1>

  <div class"articles">

    <h2>Your site for real news</h2>

    <ul>
      {{#each News}}
        <li class "list">
            <h4>{{this.title}}</h4>
         	<a href="{{this.link}}">{{this.link}}</a>
        </li>
      {{/each}}
    </ul>

  </div>


  </div>
