
<div class="container">
	<div class="jumbotron">
  		<h1>News Source</h1>
  		 <h2>Your site for real news</h2>
  	</div>

  	<div class="row">
	  	<div class="col-md-12">
		    <ul>
		      {{#each News}}
		        <li class "list">
		            <h4>{{this.title}}</h4>
		         	<a href="{{this.link}}">{{this.link}}</a>
		        </li>
		        <div class="btn-group" role="group" aria-label="...">


			<button type="button" id="addNote" class="btn btn-primary">Add Note</button>

				</div>
		      {{/each}}
		    </ul>
	  	</div>
	</div>
</div>
