li {
	list-style-type: none;
}

li a:hover {
	text-decoration: none;
}

body {
	background-color: ivory;
	background-image: url("../images/marmo1.jpg");
	background-attachment: fixed;	
}

.form-control {
	height: 200px;
}

.jumbotron {
	height: 700px;
	width: 100%;
	background-image: url("../images/roman-battle.jpg");
	background-size: 1100px;
	z-index: 0;
	position: relative;
	background-attachment: fixed;
}

#overlay {
	height: 700px;
	width: 100%;
	background-color: rgba(255, 255, 255, .8);
	z-index: 1;
	position: absolute;
	top: 0;
}

#pageTwo {
	background-attachment: fixed;
	background-color: rgba(255,255,255, .2);
	padding: 0px;
}

.box {
	border-radius: 10px;
	padding: 15px;
	box-shadow: 2px 2px 10px;
	background-color: rgba(254, 249, 231, .7);
}

#box {
	border-radius: 10px;
	padding: 15px;
	box-shadow: 2px 2px 10px;
	background-color: white;
	height: 100px;
}

.center {
	text-align: center;
}

input {
	width: 100%;
	padding: 10px;
	border-radius: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
}